<form [formGroup]="sessionForm">
    <div class="centered-text">Create session for Calendar</div>
    <div class="centered-text-small" *ngIf="fetchStatus.length > 0">{{ fetchStatus }}</div>

    <div class="container">
        <div class="row-block">
            <div class="radio-container">
                <label class="label">Mode: </label>
                <div class="radio-group" *ngFor="let mode of modes">
                    <label [for]="getModeId(0, mode.id)" [style.color]="mode.color" class="radio-label">
                        <!-- <input formControlName="mode" class="radio-button" type="radio" [id]="mode.id" [value]="mode.id" -->
                        <input [id]="getModeId(0, mode.id)" [value]="mode.id" class="radio-button"
                               formControlName="mode"

                               type="radio">
                        {{ mode.name }}
                    </label>
                </div>
            </div>
        </div>

        <div class="row-block">
            <div class="form-container">
                <label class="label">Student: </label>
                <input formControlName="student" class="student-input" placeholder="Enter student name">
                <!-- <select class="dropdown" formControlName="student">
                  <option value="" disabled selected>Select student</option>
                  <option *ngFor="let student of students" [id]="student.id">{{student.name}}</option>
                </select> -->
            </div>
        </div>

        <div class="row-block">
            <div class="form-container ">
                <label class="label">Subject: </label>
                <select class="dropdown" formControlName="subject">
                    <option value="" disabled selected>Select subject</option>
                    <option *ngFor="let subject of getSubjectsForMode(this.sessionForm.value['mode'])" [id]="subject.id"
                            [value]="subject.id">
                        {{ subject.name }}
                    </option>
                </select>
            </div>
        </div>

        <div class="row-block">
            <div class="form-container ">
                <label class="label">Date: </label>
                <input formControlName="date" type="text" placeholder="Date" class="form-control datepicker"
                       (ngModelChange)="onDateChange($event)" [bsConfig]="datepickerConfig" bsDatepicker>
            </div>
        </div>

        <!-- <div class="container">
        <div class="row">
          <div class="col-xs-12 col-12 col-md-4 form-group">
          <input type="text"
              placeholder="Datepicker"
              class="form-control"
              bsDatepicker>
          </div>
          <div class="col-xs-12 col-12 col-md-4 form-group">
          <input type="text"
              placeholder="Daterangepicker"
              class="form-control"
              bsDaterangepicker>
          </div>
        </div>
        </div> -->

        <div class="row-block">
            <div class="form-container">
                <label class="label">Time: </label>
                <input formControlName="time" class="time-input" type="text" pattern="[0-9]*" placeholder="Start time"
                       maxlength="4" minlength="4" oninput="this.value=this.value.replace(/[^0-9]/g,'')" required>
            </div>
        </div>

        <div class="row-block">
            <div class="form-container">
                <label class="label">Duration: </label>
                <timepicker formControlName="duration" class="time-input" [showMeridian]="false" [showSpinners]="false">
                </timepicker>
            </div>
        </div>

        <div class="row-block">
            <div class="form-container">
                <input class="btn-save btn btn-primary" type="button" value="Save" (click)="onSessionSave()">
            </div>
        </div>
    </div>
</form>
<form [formGroup]="sessionDataForm">
    <div class="centered-text">Save session data locally</div>
    <div *ngIf="fetchStatus.length > 0" class="centered-text-small">{{ fetchStatus }}</div>

    <div class="container">
        <div class="row-block">
            <div class="radio-container">
                <label class="label">Mode: </label>
                <div *ngFor="let mode of modes" class="radio-group">
                    <label [for]="getModeId(1, mode.id)" [style.color]="mode.color" class="radio-label">
                        <input [id]="getModeId(1, mode.id)" [value]="mode.id" class="radio-button"
                               formControlName="mode"
                               type="radio">
                        {{ mode.name }}
                    </label>
                </div>
            </div>
        </div>

        <div class="row-block">
            <div class="form-container">
                <label class="label">Student: </label>
                <input class="student-input" formControlName="student" placeholder="Enter student name">
            </div>
        </div>

        <div class="row-block">
            <div class="form-container ">
                <label class="label">Subject: </label>
                <select class="dropdown" formControlName="subject">
                    <option disabled selected value="">Select subject</option>
                    <option *ngFor="let subject of getSubjectsForMode(this.sessionDataForm.value['mode'])"
                            [id]="subject.id"
                            [value]="subject.id">
                        {{ subject.name }}
                    </option>
                </select>
            </div>
        </div>

        <div class="row-block">
            <div class="form-container ">
                <label class="label">Date: </label>
                <input (ngModelChange)="onDateChange($event)" [bsConfig]="datepickerConfig" bsDatepicker
                       class="form-control datepicker"
                       formControlName="date" placeholder="Date" type="text">
            </div>
        </div>

        <div class="row-block">
            <div class="form-container ">
                <label class="label">Data: </label>
                <textarea class="student-data-input" formControlName="data" placeholder="Enter session data here"
                          rows="6">
        </textarea>
            </div>
        </div>

        <div class="row-block">
            <div class="form-container">
                <input (click)="onSessionDataSave()" class="btn-save btn btn-primary" type="button" value="Save">
            </div>
        </div>
    </div>
</form>

<form [formGroup]="expiryForm">
    <div class="centered-text">Save expiry data for Calendar</div>
    <div *ngIf="fetchStatus.length > 0" class="centered-text-small">{{ fetchStatus }}</div>

    <div class="container">
        <div class="row-block">
            <div class="form-container ">
                <label class="label">Date: </label>
                <input (ngModelChange)="onDateChange($event)" [bsConfig]="datepickerConfig" bsDatepicker
                       class="form-control datepicker"
                       formControlName="date" placeholder="Date" type="text">
            </div>
        </div>

        <div class="row-block">
            <div class="form-container ">
                <label class="label">Data: </label>
                <textarea class="student-data-input" formControlName="data" placeholder="Enter expiry data here"
                          rows="2"> </textarea>
            </div>
        </div>

        <div class="row-block">
            <div class="form-container">
                <input (click)="onExpirySave()" class="btn-save btn btn-primary" type="button" value="Save">
            </div>
        </div>
    </div>
</form>

<div hidden>
    <div class="centered-text">Add new student</div>

    <div class="container">
        <div class="row-block">
            <div class="form-container">
                <label class="label">Student: </label>
                <input class="new-add-input" placeholder="New student" type="text">
            </div>
        </div>

        <div class="row-block">
            <div class="form-container">
                <input class="btn-save btn btn-primary" type="button" value="Add">
            </div>
        </div>
    </div>

    <div class="centered-text">Add new subject</div>

    <div class="container">
        <div class="row-block">
            <div class="form-container">
                <label class="label">Subject: </label>
                <input class="new-add-input" placeholder="New subject" type="text">
            </div>
        </div>

        <div class="row-block">
            <div class="form-container">
                <input class="btn-save btn btn-primary" type="button" value="Add">
            </div>
        </div>
    </div>

    <div class="centered-text">Add new teaching mode</div>

    <div class="container">
        <div class="row-block">
            <div class="form-container">
                <label class="label">Mode: </label>
                <input class="new-add-input" placeholder="New mode" type="text">
            </div>
        </div>

        <div class="row-block">
            <div class="form-container">
                <input class="btn-save btn btn-primary" type="button" value="Add">
            </div>
        </div>
    </div>
</div>
